.Navigation {
  display: flex;
  align-items: center;
}

.Link {
  display: block;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  text-decoration: none;
}

.ActiveLink {
  color: #fff;
  background-color: #007bff;
}
